body{
    padding: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    width: 400px;
    height: 600px;
    background-color: rgb(168, 84, 84);
    box-shadow: 12px 12px 5px black;
    overflow: hidden;
}
.div2{
    margin-left: 100px;
    width: 400px;
    height: 600px;
    background-color: rgb(168, 84, 84);
    box-shadow: 12px 12px 5px black;
    overflow: hidden;
}
.div1 p{
    text-align: center;
    margin:0px;
    margin-top: 20px;
    font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.div2 p{
    text-align: center;
    margin:0px;
    margin-top: 20px;
    font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.pheader{
    color: gold !important;
    text-decoration: underline;
    font-size: 1.4em !important;
}
.pfooter{
    color: grey !important;
    font-size: 0.8em !important;
}
.pdate{
    font-size: 0.7em !important;
}